.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 250px;
}

.fighter-details{
  padding: 20px 40px;
  min-width: 150px;
  text-transform: uppercase;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.694)
}